<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Consultations</title>
</head>
<body>
    <h1>Consultations</h1>
    <nav>
        <ul>
            <li><a th:href="@{/admin/v1/form}">Form</a></li>
            <li><a th:href="@{/admin/v1/all}">All Consultations</a></li>
        </ul>
    </nav>

    <form th:action="@{/admin/v1/search_patients}" method="get">
        <label for="patient-search">Search by Patient:</label>
        <input type="text" id="patient-search" name="name" placeholder="Search patient">
        <button type="submit">Search</button>
    </form>
</body>
</html>
