<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ApolloAdmin</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="my-4">ApolloAdmin</h1>
        <nav>
            <ul class="nav nav-pills mb-3">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/v1/form}">Add Consultation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/v1/all}">List all Consultations</a>
                </li>
            </ul>
        </nav>

        <form th:action="@{/admin/v1/search_patients}" method="get" class="form-inline">
            <div class="form-group mx-sm-3 mb-2">
                <label for="patient-search" class="sr-only">Search by Patient:</label>
                <input type="text" id="patient-search" name="name" class="form-control" placeholder="Search patient">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Search</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
